body {
    text-align: center;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #411a68;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);

}

p {
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px ;
  font-weight: bold;
  border-radius: 20px;
}
body {
  background-image: url('Design ohne Titel (3).png');
  background-size: cover;
}

  
  
  .btn {
    background-color: #37b8b2;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
  }

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  margin-top: 10px;
}


.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.icons {
  
  margin-right: 10px;
  margin-left: 10px;

 

}
.meme {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 400px;
}
.icons:hover {
  box-shadow: 0 0 100px greenyellow;
  
  border-radius: 50%;
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px #535FED;
  }
}



@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
  
  .btn:hover {
    background-color: #3e8e41;
    color: white;
  }

  img {
    border-radius: 50%;
    
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

#board {
    /* background-color: green; */
    margin-bottom: 20px;
    background-image: url(".");
    border-radius: 8px;
    /* Style all font awesome icons */
}